<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mifen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.SEND_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.ymhd.main.MyApplication"
        android:theme="@style/AppTheme" >

        <!-- 高德地图key -->
        <!-- 02adf8ab0970b9410760241abaaa7ff9 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c42f6fb9d7434a6f56d5483bb3b83131" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.ymhd.mifei.sign.signtab" >
        </activity>
        <activity android:name="com.ymhd.mifei.sign.signin" >
        </activity>
        <activity android:name="com.ymhd.mifei.sign.signup" >
        </activity>
        <activity
            android:name="com.ymhd.main.maintab"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ymhd.mifei.sign.signupfory"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity android:name="com.ymhd.main.nearbypage_list" >
        </activity>
        <activity android:name="com.ymhd.main.TwoDemisonAcitivity" >
        </activity>
        <activity
            android:name="com.ymhd.main.seachpage"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.main.myself"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity android:name="com.ymhd.main.classifypage" >
        </activity>
        <activity android:name="com.ymhd.main.homepage" >
        </activity>
        <activity android:name="com.ymhd.main.homepage2" >
        </activity>
        <activity android:name="com.ymhd.main.shoppingcar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.setting.mifensetting"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.shopping.commodity_info"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.order.order_info_sure"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.order.order_pay"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.setting.versioninfo"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.myself.collection"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.myself.register"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.myself.sms"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.myself.midouxiangxi"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.shopping.seach_shopping"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.setting.editmyself"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.setting.address"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.setting.newaddress"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.setting.editaddress"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.shopping.commodity_select_type"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.order.takebyselfaddress"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.order.myorderall"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.myself.myhistory"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.ymhd.mifen.myself.friendlytab"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.zxing.android.CaptureActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" >
        </service>
        <activity android:name="com.ymhd.main.nearbypage"></activity>

        <activity android:name="com.ymhd.main.LocationSourceActivity"></activity>
    </application>

</manifest>